*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;
}
li {
    list-style-type: none;
  margin: 0;
  padding: 5px;
  display:flex;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
    color:white;
    
}
a.click:visited {
  text-decoration: none;
  color:white;
}
a.click:hover {
  font-size: 45px;
  font-weight: 700;
color: red;
transition: all 0.5s ease;
}
body {
  background-image: url("https://media.istockphoto.com/photos/square-rectangle-picture-frame-with-two-tone-neon-color-motion-on-picture-id1219163188?b=1&k=20&m=1219163188&s=170667a&w=0&h=rUu47yupqOTfLK__zLshdG65f77ueenxv2atfxH1rpk=");
  background-size: 100%;
      background-repeat:no-repeat;
}
h1 {
font-size: 50px;
 text-align: center;
 text-shadow: 2px 2px black;
 
}
